h1 { 
 color: #000000;
 font: size 1000px;
}
p1 {
 color: #000000;
 font: size 500px;
 }
p2 {
 color: #000000;
 font: size 750px;
}
h2 {
 color: #000000;
 font: size 750px;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('https://drive.google.com/file/d/1xSK2XtB5B-NDt83D-5S-tDJzjsWiOrEf/view?usp=drive_link')
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

















