h1 {
 color: #ffffff;
 font: size 200px;
}
p1 {
 color: #ffffff;
 font: size 100px;
 }
body {
 width: 100vw;
 height: 100vh;
 background-image: url('https://s11.stc.yc.kpcdn.net/share/i/12/14133912/wr-960.webp');
}



