h1 {
 color: #000000;
 font: size 400px;
}
p1 {
 color: #000000;
 font: size 200px;
 }
p2 {
 color: #000000;
 font: size 300px;
}
li {
 color: #000000;
 font: size 400px;
}














